{% extends "base.html" %} 

{% block title %}depression{% endblock %}

{% block content %}
    
    <h1>Depression comes in all shapes and sizes {{text}}</h1>

    {% if boolean == True %}
        hoes be hoes
    {% else %}
        nope hoe
    {% endif %}

    <form method="POST">
        
        <h3 align = "center">
            LOGIN u degenerate
        </h3>
        
        <div class="form-group">

            <label for = "email">
                Email adress
            </label>

            <input 
                type = "email" 
                class = "form-control" 
                id = "email" 
                name = "email" 
                placeholder="Enter email"
            />
        </div>

        <div class="form-group">
            
            <label for = "password">
                enter pass dumbass
            </label>

            <input 
                type = "password" 
                class = "form-control" 
                id = "password" 
                name = "password" 
                placeholder="Enter password1"
            />
        </div>

        <br />

        <button type = "submit" class = "btn btn-primary">
            Login
        </button>

    </form>

{% endblock %}
